<table>
<tr>
 <th colspan="4"><label>Readership Target Market</label></t>
</tr>

<tr>
 <td colspan="2">- Investors</td><td>- Key Opinion Leaders</td>
</tr>

<tr>
  <td colspan="2">- Decision Makers</td><td> - Financial Advisors</td>
</tr>

<tr>
  <td colspan="2">- Real Estate Agents </td><td> - Property Buyers</td>
</tr>

<tr>
  <td colspan="2">- Home Owners</td><td> - Conveyancers & Legal</td>
</tr>

<tr>
  <td colspan="2">- Practitioners </td><td>- Business Owners</td>
</tr>

<tr>
  <td colspan="2">- Interior and Exterior</td><td> - Designers</td>
</tr>

<tr>
  <td colspan="2">- Government Line Ministries</td><td> - Departments & Parastatals</td>
</tr>

<tr>
  <td colspan="2">- Architects</td><td> - Hospitality Industry</td>
</tr>

<tr>
  <td colspan="2">- Practitioners</td><td> - Other Property Specialists</td>
</tr>
</table>
