<form [formGroup]="advertForm" (ngSubmit)="onSubmit(advertForm.value)">
<table class="center" style="width:100%">
  
<!--<tr>
   <th colspan="2">Advertise with us</th>
</tr>-->

<tr>
  <td colspan="4"><h1>PRIME ADVERTISING LOCATION WITH ESWATINI PROPERTY REVIEW</h1></td>
<!--td colspan="9"><img src=""></td>-->
</tr>


<tr>
  <td colspan="2"
><h2>
Eswatini Property Review is Eswatini's premier property lifestyle magazine. 
An informative read tailored for property owners and buyers, investors
and real estate agents, interior designers, architects and various
property enthusiasts...an advertisers dream advertising channel!

At Eswatini Property Review our primary aim is to
inform property stakeholders and the country at
large about proper ty oppor tunities and
challenges as well.
Tell your story through our digital media and hard copy print channels via
our own engaging website and social media platforms oering regular and
frequent news updates and a wider target audience reach.</h2></td>
<td>
<table>
<tr>
 <td colspan="4"><label>Readership Target Market</label></td>
</tr>

<tr>
 <td colspan="2">- Investors</td><td>- Key Opinion Leaders</td>
</tr>

<tr>
  <td colspan="2">- Decision Makers</td><td> - Financial Advisors</td>
</tr>

<tr>
  <td colspan="2">- Real Estate Agents </td><td> - Property Buyers</td>
</tr>

<tr>
  <td colspan="2">- Home Owners</td><td> - Conveyancers & Legal</td>
</tr>

<tr>
  <td colspan="2">- Practitioners </td><td>- Business Owners</td>
</tr>

<tr>
  <td colspan="2">- Interior and Exterior</td><td> - Designers</td>
</tr>

<tr>
  <td colspan="2">- Government Line Ministries</td><td> - Departments & Parastatals</td>
</tr>

<tr>
  <td colspan="2">- Architects</td><td> - Hospitality Industry</td>
</tr>

<tr>
  <td colspan="2">- Practitioners</td><td> - Other Property Specialists</td>
</tr>
</table>
</td>
</tr>

<tr>
  <td colspan="2"><label>Readership Characteristics</label>
Age : +/- 30 - 65
Education : Tertiary Education (including Masters +)
Professional / Career Level : Mid-Level Management to High Level
Executives & Successful Entrepreneurs.
Dwelling Status : Owned property or rented +2 bedroom
accommodations in urban and peri-urban locations.
Transport Mode : Privately owned motor vehicle(s)
Lifestyle : Advanced use of technological gadgets and Internet access,
espoused healthy living and family orientated. </td>
  <td colspan="2"><label>BENEFITS OF ADVERTISING WITH ESWATINI PROPERTY REVIEW</label>
Bi-monthly readership of +4000 people.
1500 print-run per issue distributed nationwide.
+350 annual subscriber readers (local and RSA subscribers
predominantly high-level executives, business owners & industry
specialists).
Free downloadable issues distributed to via online channels to +1000
online community
High quality glossy magazine is collected by property enthusiasts as a
recommendable resource base.
Customized advertising packages encompassing print, online and
social media brand exposure and discounted In-Mall Digital Advertising
(Refer to Barcode Creative In-Mall Digital Advertising Rate Card or visit
www.barcodecreative.net)</td>
</tr>

<tr>
  <td colspan="4"><label>ADVERTISING RATES</label></td>
</tr>
<tr>  
  <td colspan="4">Tell your story through
our digital media and
hard copy print
channels... </td>
</tr>

<tr>
  <td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/doublespread.jpg" width="100" height="100"></td>
<td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/fullpage.jpg" width="100" height="100"></td>
</tr>

<tr>
<td colspan="2">Double Page Spread / DPS
Inside Cover DPS: E15 250
Standard DPS: E13 500
</td><td>Full Page Ad / FPA
Inside Front Cover FPA: E12 750
Back Cover: E13 250 │ Inside Back Cover FPA: E12 000
Standard FPA: E11 850</td>
</tr>

<tr>
<td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/advertorial.jpg" width="100" height="100"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/halfpage.jpg" width="100" height="100"></td>
</tr>
<tr>
  <td colspan="2">Advertorial
Full Page Advertorial: E10 850
Half Page Advertorial: P.O.A
</td><td>Half Page Ad
Half Page Ad: E7 750</td>
</tr>

<tr>
<td colspan="2">
<img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/thirdpage.jpg" width="100" height="100">
</td>
<td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/quarterpage.jpg" width="100" height="100"></td>
</tr>
<tr>
  <td colspan="2">Third Page Ad
1/3 (H): E6 500
1/3 (V): E6 500
</td><td colspan="2">Quarter Page Ad
¼ Page Ad: E4 85></td>
</tr>

<tr>
  <td colspan="4"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/stripad.jpg" width="100" height="100">
</td>
<td></td>
</tr>

<tr>
<td colspan="4">
 Strip Ad
Cover Strip: E5 450
DPS Strip: E4 500
(H) Standard Strip: E2 500
</td>
<td></td>
</tr>




<tr>
<td colspan="4"><label>To advertise with us please fill in your information and attach your proof of payment and artwork below</label></td>
</tr>

<tr>
  <td><label for="nameandsurname">
    Name
    </label></td>
    <td><input id="nameandsurname" type="text" formControlName="nameandsurname" ></td>
</tr>

<tr>
  <td colspan="2"><label for="Eaddress">
    Email Address
    </label></td>
  <td><input id="Eaddress" type="text" formControlName="Eaddress"></td>
</tr>

<tr>
  <td colspan="2"><label for="artw">
    Artwork
    </label></td
  ><td><input id="artw" type="file" formControlName="artw"></td>
</tr>

<tr>
  <td colspan="2"><label for="POP">
    Proof Of Payment
    </label></td>
  <td><input id="POP" type="file" formControlName="POP"></td>
</tr>

<tr>
  <td colspan="2"><button class="button" type="submit">Submit</button></td>
</tr>

</table>
</form>


