<form [formGroup]="advertForm" (ngSubmit)="onSubmit(advertForm.value)">
<table class="center" style="width:100%">
  
<!--<tr>
   <th colspan="2">Advertise with us</th>
</tr>-->

<tr>
  <th colspan="4"><h2>Prime Advertising Location With Eswatini Proprty Review</h2></th>
<!--td colspan="9"><img src=""></td>-->
</tr>


<tr>
  <td colspan="4"><p>
Eswatini Property Review is Eswatini's premier property lifestyle magazine. 
An informative read tailored for property owners and buyers, investors
and real estate agents, interior designers, architects and various
property enthusiasts...an advertisers dream advertising channel!

At Eswatini Property Review our primary aim is to
inform property stakeholders and the country at
large about proper ty oppor tunities and
challenges as well.
Tell your story through our digital media and hard copy print channels via
our own engaging website and social media platforms oering regular and
frequent news updates and a wider target audience reach.Tell your story through
our digital media and
hard copy print
channels...</p></td>
</tr>

<tr>
  <td colspan="4"><h2>Advertising Rates</h2></td>
</tr>

<tr>
  <td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/doublespread.jpg" width="150" height="100"></td>
<td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/fullpage.jpg" width="150" height="100"></td>
</tr>

<tr>
<td colspan="2">Double Page Spread / DPS
Inside Cover DPS: E15 250
Standard DPS: E13 500
</td><td>Full Page Ad / FPA
Inside Front Cover FPA: E12 750
Back Cover: E13 250 │ Inside Back Cover FPA: E12 000
Standard FPA: E11 850</td>
</tr>

<tr>
<td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/advertorial.jpg" width="150" height="100"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/halfpage.jpg" width="150" height="100"></td>
</tr>
<tr>
  <td colspan="2">Advertorial
Full Page Advertorial: E10 850
Half Page Advertorial: P.O.A
</td><td>Half Page Ad
Half Page Ad: E7 750</td>
</tr>

<tr>
<td colspan="2">
<img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/thirdpage.jpg" width="150" height="100">
</td>
<td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/quarterpage.jpg" width="150" height="100"></td>
</tr>
<tr>
  <td colspan="2">Third Page Ad
1/3 (H): E6 500
1/3 (V): E6 500
</td><td>Quarter Page Ad
¼ Page Ad: E4 85</td>
</tr>

<tr>
  <td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/stripad.jpg" width="150" height="100">
</td>
<td></td>
</tr>

<tr>
<td colspan="2">
 Strip Ad
Cover Strip: E5 450
DPS Strip: E4 500
(H) Standard Strip: E2 500
</td>
<td></td>
</tr>




<tr>
<td colspan="2"><label>To advertise with us please fill in your information and attach your proof of payment and artwork below</label></td>
</tr>

<tr>
  <td><label for="nameandsurname">
    Name
    </label></td>
    <td><input id="nameandsurname" type="text" formControlName="nameandsurname" ></td>
</tr>

<tr>
  <td><label for="Eaddress">
    Email Address
    </label></td>
  <td><input id="Eaddress" type="text" formControlName="Eaddress"></td>
</tr>

<tr>
  <td><label for="artw">
    Artwork
    </label></td
  ><td><input id="artw" type="file" formControlName="artw"></td>
</tr>

<tr>
  <td><label for="POP">
    Proof Of Payment
    </label></td>
  <td><input id="POP" type="file" formControlName="POP"></td>
</tr>

<tr>
  <td colspan="2"><button class="button" type="submit">Submit</button></td>
</tr>

</table>
</form>


